# Backup and temporaty files
.*swp
*.bak
*~

# Built files or temporary buildsystem files
*.a
*.o
*.la
*.lo
*.gmo
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
install_manifest.txt
tuxfootball.cbp

# Binary and runtime files
tuxfootball
*.log
