.*swp
*.bak
*~
*.a
*.o
*.la
*.lo
Makefile
Makefile.in
mkinstalldirs
*.log
config.guess
config.h
config.h.in
config.status
config.sub
configure
stamp-h*
.deps
aclocal.m4
autom4te.cache
.anjuta
intltool-extract*
intltool-merge*
intltool-modules*
intltool-update*
POTFILES
*.gmo
stamp-it
*.cache
libtool
ltmain.sh
TODO.tasks
tuxfootball
.anjuta_sym_db.db
*.tar.gz
*.tar.bz2
lib
bin
tuxfootball.layout
tuxfootball.depend
include
